emotion-detection/dataset/
.venv/
venv/
/Facial-Expression-Recognition-using-CNNs-main/emotion-detection/dataset
/Facial-Expression-Recognition-using-CNNs-main/emotion-detection/dataset
Facial-Expression-Recognition-using-CNNs-main/emotion-detection/dataset/download-fer-2013-dataset-here
